* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#navbar {
    background: linear-gradient(to bottom, green, rgb(80, 49, 20));
    display: flex;
    /*justify-content: space-between;*/
    align-items: center;
}

#navbar-2 {
    background: linear-gradient(to bottom, #c41c1c, rgb(255, 225, 57));
    display: flex;
    /*justify-content: space-between;*/
    align-items: center;
}

#navbar-3 {
    background: linear-gradient(to bottom, black, #ff6600);
    display: flex;
    /*justify-content: space-between;*/
    align-items: center;
}

#navbar-second-bottom-3 {
    background:  black;
    display: flex;
    justify-content: space-between;
    
}

#navbar-2 a {
    text-decoration: none;
    color: white;
    padding: 24px;
}

#navbar a {
    text-decoration: none;
    color: white;
    padding: 24px;
}

#navbar-3 a {
    text-decoration: none;
    color: white;
    padding: 24px;
}

#navbar-second-bottom-3 a {
    text-decoration: none;
    color: white;
    padding: 24px;
}

#navbar-2 #logo {
    margin-right: auto;
    font-size: 45px;
}

#navbar #logo {
    margin-right: auto;
    font-size: 35px;
}

#navbar-3 #logo {
    margin-right: auto;
    font-size: 35px;
}

#navbar-second-bottom-3 {
    margin-left: auto;
    font-size: 15px;
    justify-content: space-between;
}

#navbar-2 .cta-button {
    background: white;
    color: #c41c1c;
    border-radius: 36px;
    padding: 16px 24px;
    font-size: 20px;
    font-weight: bold;
    min-width: 150px;
    text-align: center;
    margin-right: 24px;
    margin-left: 24px;
    box-shadow: 4px 4px 4px #00000033;
}

#navbar-3 .cta-button {
    background: white;
    color: #ff6600;
    border-radius: 36px;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    min-width: 150px;
    text-align: center;
    margin-right: 24px;
    margin-left: 24px;
    box-shadow: 4px 4px 4px #00000033;
}

#header-2 {
    position: sticky; 
    top: 0px;
}

#header {
    position: sticky; 
    top: 0px;
}

#header-3 {
    position: sticky; 
    top: 0px;
}

#navbar-bottom-3 {
    background: linear-gradient(to top, black, #ff6600);
    display: flex;
    justify-content: space-between;
}

#navbar-bottom-3 a {
    text-decoration: none;
    color: white;
    padding: 12px 36px;
}