* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 
                'Lucida Sans', Arial, sans-serif;
   
}

#navbar {
    display: flex;
    align-items: center;
    box-shadow: 4px 4px 4px #00000033;
    background-color: white;
}

#navbar a {
    text-decoration: none;
    color: #58544b;
    padding: 24px;
}

#navbar img {
    width: 100px;
}

#navbar #logo {
    margin-right: auto;
}

#navbar .cta-button {
    color: #58544b;
    border-radius: 36px;
    padding: 16px 24px;
    font-size: 20px;
    font-weight: bold;
    min-width: 150px;
    text-align: center;
    margin-right: 24px;
    margin-left: 24px;
    border: 3px solid #432f17;
}

#layout {
    width: 800px;
    margin: 48px auto;
    font-size: 24px;
    height: 200vh;
}

#header {
    position: sticky; 
    top: 0px;
}

#navbar-bottom {
    display: flex;
    justify-content: space-between;
}

#navbar-bottom a { 
    text-decoration: none;
    color: #58544b;
    padding: 12px 36px;
    margin-top: 40px;
}

#navbar-bottom a:hover {
    color: white;
    background-color: #3f3929;
}

#menu-heading {
    text-align: center;
    font-size: 35px;
    color: #432f17;
}

.grid-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 24px;
    gap: 25px;
}

.grid-gallery img {
    width: 100%;
    box-shadow: 4px 4px 4px #00000033;
    border: 5px solid #a98c6f;
}

